body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #2A4634;
}

header {
  padding: 0 25em;
  color: #E8F5E9;
} 

ul {
  display: flex;
  list-style-type: none;
  gap: 32px;
}

li {
  color: #d9d9d9;
}

h1 {
  width: 11em;
  text-align: left;
  font-weight: 900;
  margin: 0;
  font-size: 48px;
}

p {
  margin: 0;
}

#logo {
  font-size: 24px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 5em 0;
}

.header-p {
  width: 31em;
  margin: 2px 0 24px 0;
  color: #9da0a8;
  font-size: 18px;
}

.btn {
  text-decoration: none;
  color: white;
  font-weight: 600;
  background: #86bc89;
  padding: 9px 24px;
  border-radius: 5px;
}

.header-pic {
  width: 350px;
  border-radius: 22px;
}

.info-container {
  display: flex;
  height: 27em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 72px;
  gap: 60px;
  background-color: #DFF4E3;
}

.info-title {
  color: #45603e;
  font-size: 36px;
}

.cards {
  display: flex;
  gap: 40px;  
}

.card-description {
  width: 197px;
  color: #5f7166;
  text-align: justify;
  text-align-last: center; 
}

.card-picture {
  width: 197px;
  border-radius: 10px;
  margin-bottom: 3px;
}

.quote-section {
  display: flex;
  justify-content: center;
  padding: 150px;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #E8F5E9;
  background-color: #2A4634;
}

.quote-section > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25em;
}

.quote-section p:nth-of-type(2) {
  font-weight: 600;
  align-self: flex-end;
}